<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="annoyingApp">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Annoying App</h1>
      </ion-header-bar>
      <ion-content>
        <p>Select a start time and an end time to play a given sound file randomly between those times.</p>
        <img src="img/alarm_clock_10-266x300.png" class="align-center-horizontally" alt="alarm clock going off">
        <form ng-controller="setupFormCtrl">
          <input class="align-center-horizontally" type="file" accept="audio/*" data-file="model.annoyingSound">
          <div class="align-center-horizontally">
            <label for="start-time">Start Time:&nbsp;</label>
            <input type="time" id="start-time" ng-model="model.startTime">
            <label for="end-time">End Time:&nbsp;</label>
            <input type="time" id="end-time" ng-model="model.endTime"><br>
          </div>
          <p ng-class="isTimerSet()" class="align-center-horizontally">{{model.timerStatus}}</p>
          <div class="align-center-horizontally">
            <button class="list-button" ng-click="start()">Start</li>
            <button class="list-button" ng-click="stop()">Stop</li>
          </div>
        </form>
      </ion-content>
    </ion-pane>
  </body>
</html>
